[Unit]
Description=BrowserScreen configuration
Before=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/browserscreen

[Install]
WantedBy=network.target
